In [ ]:
#Importamos librerias requeridas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import io

In [ ]:
from google.colab import files
files.upload()

In [70]:
#hacemos data frame el dato importado
data=pd.read_csv('lastmile_delivery_operations_mit_lift_lab.csv')
data

,_record_id,_title,_server_updated_at,_updated_by,_geometry,_latitude,_longitude,arrival_of_the_freight_vehicle,plates,company_if_visible,...,used_traffic_cone,vehicles_unloading_door,number_of_available_trolleys,serving_customer,garage_blocking,accident,describe_the_accident,noise,traffic_congestion,maximum_number_of_vehicles_in_the_traffic_jam
0,4408a234-9585-46fe-9b16-96c0faaf6db8,73 Calle Almolonga\nPuebla de Zaragoza PUE 721...,2022-11-12 22:15:04 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.2334894708 19.0568933787),19.056893,-98.233489,14:00,KB-7050-A,Ricolino,...,no,Side,1,NaN,yes,no,NaN,no,no,NaN
1,673cd0e3-7290-4c4d-a57f-096d16b78141,72 Calle Almolonga\nPuebla de Zaragoza PUE 721...,2022-11-12 20:41:39 UTC,Jorge Alberto Ostorga Flores,SRID=4326;POINT(-98.233483903 19.0568494313),19.056849,-98.233484,13:50,XC8687A,Marinela,...,no,Rear,1,NaN,no,no,NaN,no,no,NaN
2,04e64464-3fbd-4ce1-99d8-5364e1567e8c,4510 Vía Volkswagen\nHeroica Puebla de Zaragoz...,2022-11-12 18:02:57 UTC,Juan Carlos Bejarano Moreno,SRID=4326;POINT(-98.2339161 19.0596775),19.059677,-98.233916,11:47,SM 20745,La fete,...,no,Side,0,1.0,no,no,NaN,no,no,NaN
3,d0a6568d-cf8f-48fd-ad3d-007e79f4ae6b,4501A Avenida 2 Poniente\nHeroica Puebla de Za...,2022-11-12 17:55:44 UTC,Luis Gerardo Ramírez Lastra,SRID=4326;POINT(-98.2285674 19.0626948),19.062695,-98.228567,11:45,SP35169,Barcel,...,no,Rear,2,NaN,yes,no,NaN,no,no,NaN
4,eff15823-b1f2-4e82-afb2-2195635d1406,4717 Avenida Reforma\nHeroica Puebla de Zarago...,2022-11-12 17:55:44 UTC,Luis Gerardo Ramírez Lastra,SRID=4326;POINT(-98.231397 19.0627239),19.062724,-98.231397,11:41,SN89460,NaN,...,no,Rear,2,NaN,no,no,NaN,no,no,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177,f964004e-67a0-4b75-b2b0-ce04b9f0b344,NaN,2022-11-03 17:54:56 UTC,José Oropeza,SRID=4326;POINT(-98.194933077 19.043612116),19.043612,-98.194933,10:36,HL-3785-F,NaN,...,no,Rear,0,NaN,no,no,NaN,no,no,NaN
178,5656a189-19f5-45a7-b53b-1a3db0de6571,NaN,2022-11-03 17:54:56 UTC,José Oropeza,SRID=4326;POINT(-98.1948560508 19.0436070826),19.043607,-98.194856,10:33,SP-29-798,NaN,...,no,Side,0,NaN,no,no,NaN,no,no,NaN
179,bcbd462b-4c63-490b-bfec-0ef6657ead73,406-B Avenida 2 Oriente\nPuebla PUE 72000\nMX,2022-11-03 17:54:44 UTC,Emilio Garza,SRID=4326;POINT(-98.1945033093 19.043335537),19.043336,-98.194503,11:19,05-AP-6G,Infra,...,no,Rear,1,NaN,no,no,NaN,no,no,NaN
180,cd9ba76d-d899-4d87-9512-486aedb1b149,402E Avenida 2 Oriente\nPuebla PUE 72000\nMX,2022-11-03 17:14:09 UTC,Emilio Garza,SRID=4326;POINT(-98.1948728731 19.0435760418),19.043576,-98.194873,11:03,LE-88-707,Alpura,...,no,Rear,0,NaN,no,no,NaN,no,no,NaN
181,657541f6-7871-4165-80b2-bef59db83e18,402 Avenida 2 Oriente\nPuebla PUE 72000\nMX,2022-11-03 17:14:09 UTC,Emilio Garza,SRID=4326;POINT(-98.1949010531 19.043589516),19.043590,-98.194901,11:00,HL-3785-F,Bimbo,...,no,Rear,1,NaN,no,no,NaN,no,no,NaN

In [71]:
#verificamos informacion del data frame
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 182 entries, 0 to 181
Data columns (total 29 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   _record_id                                     182 non-null    object
 1   _title                                         176 non-null    object
 2   _server_updated_at                             182 non-null    object
 3   _updated_by                                    182 non-null    object
 4   _geometry                                      182 non-null    object
 5   _latitude                                      182 non-null    float64
 6   _longitude                                     182 non-null    float64
 7   arrival_of_the_freight_vehicle                 182 non-null    object
 8   plates                                         181 non-null    object
 9   company_if_visible                             109 non-null    object
 10  visit_purpose                                  182 non-null    object
 11  type_of_vehicle                                182 non-null    object
 12  number_of_operators                            182 non-null    int64
 13  refrigerated_truck                             182 non-null    object
 14  type_of_cargo                                  182 non-null    object
 15  picture_of_the_parked_freight_vehicle          182 non-null    object
 16  departure_of_the_freight_vehicle               182 non-null    object
 17  where_was_the_vehicle_parked                   182 non-null    object
 18  while_parked_was_the_engine_running            182 non-null    object
 19  used_traffic_cone                              182 non-null    object
 20  vehicles_unloading_door                        182 non-null    object
 21  number_of_available_trolleys                   182 non-null    int64
 22  serving_customer                               35 non-null     float64
 23  garage_blocking                                182 non-null    object
 24  accident                                       182 non-null    object
 25  describe_the_accident                          0 non-null      float64
 26  noise                                          182 non-null    object
 27  traffic_congestion                             182 non-null    object
 28  maximum_number_of_vehicles_in_the_traffic_jam  2 non-null      float64
dtypes: float64(5), int64(2), object(22)
memory usage: 41.4+ KB

In [ ]:
#corroboramos valores nulos
valores_nulos=data.isnull().sum()
valores_nulos

_record_id                                         0
_title                                             6
_server_updated_at                                 0
_updated_by                                        0
_geometry                                          0
_latitude                                          0
_longitude                                         0
arrival_of_the_freight_vehicle                     0
plates                                             1
company_if_visible                                73
visit_purpose                                      0
type_of_vehicle                                    0
number_of_operators                                0
refrigerated_truck                                 0
type_of_cargo                                      0
picture_of_the_parked_freight_vehicle              0
departure_of_the_freight_vehicle                   0
where_was_the_vehicle_parked                       0
while_parked_was_the_engine_running                0
used_traffic_cone                                  0
vehicles_unloading_door                            0
number_of_available_trolleys                       0
serving_customer                                 147
garage_blocking                                    0
accident                                           0
describe_the_accident                            182
noise                                              0
traffic_congestion                                 0
maximum_number_of_vehicles_in_the_traffic_jam    180
dtype: int64

In [72]:
#realizamos una copia 
data1=data.copy()

**VALORES NULOS**

In [ ]:
#Al ser una gran cantidad de datos reemplazemos los valores nulos con "bfill"
data2=data1.fillna(method='bfill')
data2

,_record_id,_title,_server_updated_at,_updated_by,_geometry,_latitude,_longitude,arrival_of_the_freight_vehicle,plates,company_if_visible,...,used_traffic_cone,vehicles_unloading_door,number_of_available_trolleys,serving_customer,garage_blocking,accident,describe_the_accident,noise,traffic_congestion,maximum_number_of_vehicles_in_the_traffic_jam
0,4408a234-9585-46fe-9b16-96c0faaf6db8,73 Calle Almolonga\nPuebla de Zaragoza PUE 721...,2022-11-12 22:15:04 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.2334894708 19.0568933787),19.056893,-98.233489,14:00,KB-7050-A,Ricolino,...,no,Side,1,1.0,yes,no,NaN,no,no,8.0
1,673cd0e3-7290-4c4d-a57f-096d16b78141,72 Calle Almolonga\nPuebla de Zaragoza PUE 721...,2022-11-12 20:41:39 UTC,Jorge Alberto Ostorga Flores,SRID=4326;POINT(-98.233483903 19.0568494313),19.056849,-98.233484,13:50,XC8687A,Marinela,...,no,Rear,1,1.0,no,no,NaN,no,no,8.0
2,04e64464-3fbd-4ce1-99d8-5364e1567e8c,4510 Vía Volkswagen\nHeroica Puebla de Zaragoz...,2022-11-12 18:02:57 UTC,Juan Carlos Bejarano Moreno,SRID=4326;POINT(-98.2339161 19.0596775),19.059677,-98.233916,11:47,SM 20745,La fete,...,no,Side,0,1.0,no,no,NaN,no,no,8.0
3,d0a6568d-cf8f-48fd-ad3d-007e79f4ae6b,4501A Avenida 2 Poniente\nHeroica Puebla de Za...,2022-11-12 17:55:44 UTC,Luis Gerardo Ramírez Lastra,SRID=4326;POINT(-98.2285674 19.0626948),19.062695,-98.228567,11:45,SP35169,Barcel,...,no,Rear,2,1.0,yes,no,NaN,no,no,8.0
4,eff15823-b1f2-4e82-afb2-2195635d1406,4717 Avenida Reforma\nHeroica Puebla de Zarago...,2022-11-12 17:55:44 UTC,Luis Gerardo Ramírez Lastra,SRID=4326;POINT(-98.231397 19.0627239),19.062724,-98.231397,11:41,SN89460,Agua inmaculada,...,no,Rear,2,1.0,no,no,NaN,no,no,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177,f964004e-67a0-4b75-b2b0-ce04b9f0b344,406-B Avenida 2 Oriente\nPuebla PUE 72000\nMX,2022-11-03 17:54:56 UTC,José Oropeza,SRID=4326;POINT(-98.194933077 19.043612116),19.043612,-98.194933,10:36,HL-3785-F,Infra,...,no,Rear,0,NaN,no,no,NaN,no,no,NaN
178,5656a189-19f5-45a7-b53b-1a3db0de6571,406-B Avenida 2 Oriente\nPuebla PUE 72000\nMX,2022-11-03 17:54:56 UTC,José Oropeza,SRID=4326;POINT(-98.1948560508 19.0436070826),19.043607,-98.194856,10:33,SP-29-798,Infra,...,no,Side,0,NaN,no,no,NaN,no,no,NaN
179,bcbd462b-4c63-490b-bfec-0ef6657ead73,406-B Avenida 2 Oriente\nPuebla PUE 72000\nMX,2022-11-03 17:54:44 UTC,Emilio Garza,SRID=4326;POINT(-98.1945033093 19.043335537),19.043336,-98.194503,11:19,05-AP-6G,Infra,...,no,Rear,1,NaN,no,no,NaN,no,no,NaN
180,cd9ba76d-d899-4d87-9512-486aedb1b149,402E Avenida 2 Oriente\nPuebla PUE 72000\nMX,2022-11-03 17:14:09 UTC,Emilio Garza,SRID=4326;POINT(-98.1948728731 19.0435760418),19.043576,-98.194873,11:03,LE-88-707,Alpura,...,no,Rear,0,NaN,no,no,NaN,no,no,NaN
181,657541f6-7871-4165-80b2-bef59db83e18,402 Avenida 2 Oriente\nPuebla PUE 72000\nMX,2022-11-03 17:14:09 UTC,Emilio Garza,SRID=4326;POINT(-98.1949010531 19.043589516),19.043590,-98.194901,11:00,HL-3785-F,Bimbo,...,no,Rear,1,NaN,no,no,NaN,no,no,NaN

In [ ]:
#verificamos nuestros valores nulos
valores_nulos1=data2.isnull().sum()
valores_nulos1

_record_id                                         0
_title                                             0
_server_updated_at                                 0
_updated_by                                        0
_geometry                                          0
_latitude                                          0
_longitude                                         0
arrival_of_the_freight_vehicle                     0
plates                                             0
company_if_visible                                 0
visit_purpose                                      0
type_of_vehicle                                    0
number_of_operators                                0
refrigerated_truck                                 0
type_of_cargo                                      0
picture_of_the_parked_freight_vehicle              0
departure_of_the_freight_vehicle                   0
where_was_the_vehicle_parked                       0
while_parked_was_the_engine_running                0
used_traffic_cone                                  0
vehicles_unloading_door                            0
number_of_available_trolleys                       0
serving_customer                                  17
garage_blocking                                    0
accident                                           0
describe_the_accident                            182
noise                                              0
traffic_congestion                                 0
maximum_number_of_vehicles_in_the_traffic_jam     28
dtype: int64

In [ ]:
#realizamos ahora un filtro por columnas de las que son de tipo cuantitativas 
datoscuantitativos=data2.iloc[ : , [5,6,12,21,22,25,28]]
datoscuantitativos

,_latitude,_longitude,number_of_operators,number_of_available_trolleys,serving_customer,describe_the_accident,maximum_number_of_vehicles_in_the_traffic_jam
0,19.056893,-98.233489,1,1,1.0,NaN,8.0
1,19.056849,-98.233484,2,1,1.0,NaN,8.0
2,19.059677,-98.233916,1,0,1.0,NaN,8.0
3,19.062695,-98.228567,1,2,1.0,NaN,8.0
4,19.062724,-98.231397,2,2,1.0,NaN,8.0
...,...,...,...,...,...,...,...
177,19.043612,-98.194933,1,0,NaN,NaN,NaN
178,19.043607,-98.194856,1,0,NaN,NaN,NaN
179,19.043336,-98.194503,1,1,NaN,NaN,NaN
180,19.043576,-98.194873,2,0,NaN,NaN,NaN
181,19.043590,-98.194901,2,1,NaN,NaN,NaN

In [ ]:
#realizamos una copia del dataframe
data3=datoscuantitativos.copy()

In [ ]:
#corroboramos valores nulos
valores_nulos=data3.isnull().sum()
valores_nulos

_latitude                                          0
_longitude                                         0
number_of_operators                                0
number_of_available_trolleys                       0
serving_customer                                  17
describe_the_accident                            182
maximum_number_of_vehicles_in_the_traffic_jam     28
dtype: int64

In [ ]:
#sustituir valores nulos con mediana
data3['serving_customer']=data3['serving_customer'].fillna(round(data2['serving_customer'].median(),1))
data3

,_latitude,_longitude,number_of_operators,number_of_available_trolleys,serving_customer,describe_the_accident,maximum_number_of_vehicles_in_the_traffic_jam
0,19.056893,-98.233489,1,1,1.0,NaN,8.0
1,19.056849,-98.233484,2,1,1.0,NaN,8.0
2,19.059677,-98.233916,1,0,1.0,NaN,8.0
3,19.062695,-98.228567,1,2,1.0,NaN,8.0
4,19.062724,-98.231397,2,2,1.0,NaN,8.0
...,...,...,...,...,...,...,...
177,19.043612,-98.194933,1,0,1.0,NaN,NaN
178,19.043607,-98.194856,1,0,1.0,NaN,NaN
179,19.043336,-98.194503,1,1,1.0,NaN,NaN
180,19.043576,-98.194873,2,0,1.0,NaN,NaN
181,19.043590,-98.194901,2,1,1.0,NaN,NaN

In [ ]:
#corroboramos valores nulos
valores_nulos=data3.isnull().sum()
valores_nulos

_latitude                                          0
_longitude                                         0
number_of_operators                                0
number_of_available_trolleys                       0
serving_customer                                   0
describe_the_accident                            182
maximum_number_of_vehicles_in_the_traffic_jam     28
dtype: int64

In [ ]:
#metodo de sustitucion de valores nulos por un valor concreto
data3['describe_the_accident']=data3['describe_the_accident'].fillna(0)
data3

,_latitude,_longitude,number_of_operators,number_of_available_trolleys,serving_customer,describe_the_accident,maximum_number_of_vehicles_in_the_traffic_jam
0,19.056893,-98.233489,1,1,1.0,0.0,8.0
1,19.056849,-98.233484,2,1,1.0,0.0,8.0
2,19.059677,-98.233916,1,0,1.0,0.0,8.0
3,19.062695,-98.228567,1,2,1.0,0.0,8.0
4,19.062724,-98.231397,2,2,1.0,0.0,8.0
...,...,...,...,...,...,...,...
177,19.043612,-98.194933,1,0,1.0,0.0,2.0
178,19.043607,-98.194856,1,0,1.0,0.0,2.0
179,19.043336,-98.194503,1,1,1.0,0.0,2.0
180,19.043576,-98.194873,2,0,1.0,0.0,2.0
181,19.043590,-98.194901,2,1,1.0,0.0,2.0

In [ ]:
#corroboramos valores nulos
valores_nulos=data3.isnull().sum()
valores_nulos

_latitude                                         0
_longitude                                        0
number_of_operators                               0
number_of_available_trolleys                      0
serving_customer                                  0
describe_the_accident                             0
maximum_number_of_vehicles_in_the_traffic_jam    28
dtype: int64

In [ ]:
#sustituir valores nulos por valores no nulos hacia adelate #forward fill
#filtro por columnas
data3['maximum_number_of_vehicles_in_the_traffic_jam']=data3['maximum_number_of_vehicles_in_the_traffic_jam'].fillna(method='ffill')
data3

,_latitude,_longitude,number_of_operators,number_of_available_trolleys,serving_customer,describe_the_accident,maximum_number_of_vehicles_in_the_traffic_jam
0,19.056893,-98.233489,1,1,1.0,0.0,8.0
1,19.056849,-98.233484,2,1,1.0,0.0,8.0
2,19.059677,-98.233916,1,0,1.0,0.0,8.0
3,19.062695,-98.228567,1,2,1.0,0.0,8.0
4,19.062724,-98.231397,2,2,1.0,0.0,8.0
...,...,...,...,...,...,...,...
177,19.043612,-98.194933,1,0,1.0,0.0,2.0
178,19.043607,-98.194856,1,0,1.0,0.0,2.0
179,19.043336,-98.194503,1,1,1.0,0.0,2.0
180,19.043576,-98.194873,2,0,1.0,0.0,2.0
181,19.043590,-98.194901,2,1,1.0,0.0,2.0

In [ ]:
#corroboramos valores nulos
valores_nulos=data3.isnull().sum()
valores_nulos

_latitude                                        0
_longitude                                       0
number_of_operators                              0
number_of_available_trolleys                     0
serving_customer                                 0
describe_the_accident                            0
maximum_number_of_vehicles_in_the_traffic_jam    0
dtype: int64

**PROCEDIMIENTO CUANTILES PARA SUSTITUIR OUTLIERS**

In [73]:
#metodo para cuartiles encuentro cuartiles 0.25 y 0.75. El  método toma como referencia la diferencia entre el primer cuartil "Q1"  y el tercer cuartil "Q3"  se considera  un  valor  atípico  el  que  se  encuentra 1,5 veces esa distancia
#es un metodo "sencillo"
y=data1

percentile25=y.quantile(0.25)
percentile75=y.quantile(0.75)
iqr=percentile75-percentile25


Limite_Superior_iqr= percentile75 + 1.5*iqr
Limite_Inferior_iqr= percentile25 - 1.5*iqr
print("Limite superior permitido", Limite_Superior_iqr)
print("Limite inferior permitido", Limite_Inferior_iqr)

Limite superior permitido _latitude                                        19.123517
_longitude                                      -98.098434
number_of_operators                               3.500000
number_of_available_trolleys                      2.500000
serving_customer                                  1.000000
describe_the_accident                                  NaN
maximum_number_of_vehicles_in_the_traffic_jam    11.000000
dtype: float64
Limite inferior permitido _latitude                                        18.961271
_longitude                                      -98.366619
number_of_operators                              -0.500000
number_of_available_trolleys                     -1.500000
serving_customer                                  1.000000
describe_the_accident                                  NaN
maximum_number_of_vehicles_in_the_traffic_jam    -1.000000
dtype: float64

In [ ]:
#Encontramos outliers del dataframe
outliers_iqr=data1[(y>Limite_Superior_iqr)|(y<Limite_Inferior_iqr)]
outliers_iqr

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version.  Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`

,_record_id,_title,_server_updated_at,_updated_by,_geometry,_latitude,_longitude,arrival_of_the_freight_vehicle,plates,company_if_visible,...,used_traffic_cone,vehicles_unloading_door,number_of_available_trolleys,serving_customer,garage_blocking,accident,describe_the_accident,noise,traffic_congestion,maximum_number_of_vehicles_in_the_traffic_jam
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
178,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
179,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
181,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#obtenemos datos limpios del data frama
data3_iqr=data2[(y<=Limite_Superior_iqr)&(y>=Limite_Inferior_iqr)]
data3_iqr

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version.  Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`

,_record_id,_title,_server_updated_at,_updated_by,_geometry,_latitude,_longitude,arrival_of_the_freight_vehicle,plates,company_if_visible,...,used_traffic_cone,vehicles_unloading_door,number_of_available_trolleys,serving_customer,garage_blocking,accident,describe_the_accident,noise,traffic_congestion,maximum_number_of_vehicles_in_the_traffic_jam
0,NaN,NaN,NaN,NaN,NaN,19.056893,-98.233489,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,19.056849,-98.233484,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,19.059677,-98.233916,NaN,NaN,NaN,...,NaN,NaN,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,19.062695,-98.228567,NaN,NaN,NaN,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,19.062724,-98.231397,NaN,NaN,NaN,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177,NaN,NaN,NaN,NaN,NaN,19.043612,-98.194933,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
178,NaN,NaN,NaN,NaN,NaN,19.043607,-98.194856,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
179,NaN,NaN,NaN,NaN,NaN,19.043336,-98.194503,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
180,NaN,NaN,NaN,NaN,NaN,19.043576,-98.194873,NaN,NaN,NaN,...,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
181,NaN,NaN,NaN,NaN,NaN,19.043590,-98.194901,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#realizamos ahora un filtro por columnas de las que son de tipo cuantitativas 
datoscuantitativos=data1.iloc[ : , [5,6,12,21,22,25,28]]
datoscuantitativos

,_latitude,_longitude,number_of_operators,number_of_available_trolleys,serving_customer,describe_the_accident,maximum_number_of_vehicles_in_the_traffic_jam
0,19.056893,-98.233489,1,1,NaN,NaN,NaN
1,19.056849,-98.233484,2,1,NaN,NaN,NaN
2,19.059677,-98.233916,1,0,1.0,NaN,NaN
3,19.062695,-98.228567,1,2,NaN,NaN,NaN
4,19.062724,-98.231397,2,2,NaN,NaN,NaN
...,...,...,...,...,...,...,...
177,19.043612,-98.194933,1,0,NaN,NaN,NaN
178,19.043607,-98.194856,1,0,NaN,NaN,NaN
179,19.043336,-98.194503,1,1,NaN,NaN,NaN
180,19.043576,-98.194873,2,0,NaN,NaN,NaN
181,19.043590,-98.194901,2,1,NaN,NaN,NaN

In [ ]:
#corroboramos valores nulos
valores_nulos=datoscuantitativos.isnull().sum()
valores_nulos

_latitude                                          0
_longitude                                         0
number_of_operators                                0
number_of_available_trolleys                       0
serving_customer                                 147
describe_the_accident                            182
maximum_number_of_vehicles_in_the_traffic_jam    180
dtype: int64

In [ ]:
#Reemplazamos valores atipicos del data frame con mean
data5_iqr=datoscuantitativos.copy()
data5_iqr=data5_iqr.fillna(round(datoscuantitativos.mean(),1))
data5_iqr

,_latitude,_longitude,number_of_operators,number_of_available_trolleys,serving_customer,describe_the_accident,maximum_number_of_vehicles_in_the_traffic_jam
0,19.056893,-98.233489,1,1,1.0,NaN,5.0
1,19.056849,-98.233484,2,1,1.0,NaN,5.0
2,19.059677,-98.233916,1,0,1.0,NaN,5.0
3,19.062695,-98.228567,1,2,1.0,NaN,5.0
4,19.062724,-98.231397,2,2,1.0,NaN,5.0
...,...,...,...,...,...,...,...
177,19.043612,-98.194933,1,0,1.0,NaN,5.0
178,19.043607,-98.194856,1,0,1.0,NaN,5.0
179,19.043336,-98.194503,1,1,1.0,NaN,5.0
180,19.043576,-98.194873,2,0,1.0,NaN,5.0
181,19.043590,-98.194901,2,1,1.0,NaN,5.0

In [ ]:
#realizamos ahora un filtro por columnas de las que son de tipo cualitativas 
datoscualitativos=data1.iloc[ : , [0,1,2,3,4,7,8,9,10,11,13,14,15,16,17,18,19,20,23,24,26,27]]
datoscualitativos

,_record_id,_title,_server_updated_at,_updated_by,_geometry,arrival_of_the_freight_vehicle,plates,company_if_visible,visit_purpose,type_of_vehicle,...,picture_of_the_parked_freight_vehicle,departure_of_the_freight_vehicle,where_was_the_vehicle_parked,while_parked_was_the_engine_running,used_traffic_cone,vehicles_unloading_door,garage_blocking,accident,noise,traffic_congestion
0,4408a234-9585-46fe-9b16-96c0faaf6db8,73 Calle Almolonga\nPuebla de Zaragoza PUE 721...,2022-11-12 22:15:04 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.2334894708 19.0568933787),14:00,KB-7050-A,Ricolino,Delivery,Light truck or Van,...,https://web.fulcrumapp.com/photos/view?photos=...,14:10,Street - next to the curbside,no,no,Side,yes,no,no,no
1,673cd0e3-7290-4c4d-a57f-096d16b78141,72 Calle Almolonga\nPuebla de Zaragoza PUE 721...,2022-11-12 20:41:39 UTC,Jorge Alberto Ostorga Flores,SRID=4326;POINT(-98.233483903 19.0568494313),13:50,XC8687A,Marinela,Delivery,Heavy duty truck,...,https://web.fulcrumapp.com/photos/view?photos=...,14:10,Street - next to the curbside,no,no,Rear,no,no,no,no
2,04e64464-3fbd-4ce1-99d8-5364e1567e8c,4510 Vía Volkswagen\nHeroica Puebla de Zaragoz...,2022-11-12 18:02:57 UTC,Juan Carlos Bejarano Moreno,SRID=4326;POINT(-98.2339161 19.0596775),11:47,SM 20745,La fete,Delivery,Pick-up,...,https://web.fulcrumapp.com/photos/view?photos=...,12:13,Street - next to the curbside,no,no,Side,no,no,no,no
3,d0a6568d-cf8f-48fd-ad3d-007e79f4ae6b,4501A Avenida 2 Poniente\nHeroica Puebla de Za...,2022-11-12 17:55:44 UTC,Luis Gerardo Ramírez Lastra,SRID=4326;POINT(-98.2285674 19.0626948),11:45,SP35169,Barcel,Delivery,Light truck or Van,...,https://web.fulcrumapp.com/photos/view?photos=...,11:53,Street - next to the curbside,yes,no,Rear,yes,no,no,no
4,eff15823-b1f2-4e82-afb2-2195635d1406,4717 Avenida Reforma\nHeroica Puebla de Zarago...,2022-11-12 17:55:44 UTC,Luis Gerardo Ramírez Lastra,SRID=4326;POINT(-98.231397 19.0627239),11:41,SN89460,NaN,Delivery,Light truck or Van,...,https://web.fulcrumapp.com/photos/view?photos=...,12:00,Dedicated unloading area (Bay),no,no,Rear,no,no,no,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177,f964004e-67a0-4b75-b2b0-ce04b9f0b344,NaN,2022-11-03 17:54:56 UTC,José Oropeza,SRID=4326;POINT(-98.194933077 19.043612116),10:36,HL-3785-F,NaN,Delivery,Light truck or Van,...,https://web.fulcrumapp.com/photos/view?photos=...,11:00,Street - next to the curbside,no,no,Rear,no,no,no,no
178,5656a189-19f5-45a7-b53b-1a3db0de6571,NaN,2022-11-03 17:54:56 UTC,José Oropeza,SRID=4326;POINT(-98.1948560508 19.0436070826),10:33,SP-29-798,NaN,Delivery,Light truck or Van,...,https://web.fulcrumapp.com/photos/view?photos=...,10:50,Street - next to the curbside,no,no,Side,no,no,no,no
179,bcbd462b-4c63-490b-bfec-0ef6657ead73,406-B Avenida 2 Oriente\nPuebla PUE 72000\nMX,2022-11-03 17:54:44 UTC,Emilio Garza,SRID=4326;POINT(-98.1945033093 19.043335537),11:19,05-AP-6G,Infra,Delivery,Light truck or Van,...,https://web.fulcrumapp.com/photos/view?photos=...,11:21,Street - next to the curbside,no,no,Rear,no,no,no,no
180,cd9ba76d-d899-4d87-9512-486aedb1b149,402E Avenida 2 Oriente\nPuebla PUE 72000\nMX,2022-11-03 17:14:09 UTC,Emilio Garza,SRID=4326;POINT(-98.1948728731 19.0435760418),11:03,LE-88-707,Alpura,Delivery,Pick-up,...,https://web.fulcrumapp.com/photos/view?photos=...,11:04,Street - next to the curbside,no,no,Rear,no,no,no,no
181,657541f6-7871-4165-80b2-bef59db83e18,402 Avenida 2 Oriente\nPuebla PUE 72000\nMX,2022-11-03 17:14:09 UTC,Emilio Garza,SRID=4326;POINT(-98.1949010531 19.043589516),11:00,HL-3785-F,Bimbo,Delivery,Pick-up,...,https://web.fulcrumapp.com/photos/view?photos=...,11:08,Street - next to the curbside,yes,no,Rear,no,no,no,no

In [74]:
#concatenamos los datos cuantitativos y cualitativos
Datos_limpios=pd.concat([datoscualitativos,data5_iqr],axis=1)
Datos_limpios

,_record_id,_title,_server_updated_at,_updated_by,_geometry,arrival_of_the_freight_vehicle,plates,company_if_visible,visit_purpose,type_of_vehicle,...,accident,noise,traffic_congestion,_latitude,_longitude,number_of_operators,number_of_available_trolleys,serving_customer,describe_the_accident,maximum_number_of_vehicles_in_the_traffic_jam
0,4408a234-9585-46fe-9b16-96c0faaf6db8,73 Calle Almolonga\nPuebla de Zaragoza PUE 721...,2022-11-12 22:15:04 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.2334894708 19.0568933787),14:00,KB-7050-A,Ricolino,Delivery,Light truck or Van,...,no,no,no,19.056893,-98.233489,1,1,1.0,0.0,5.0
1,673cd0e3-7290-4c4d-a57f-096d16b78141,72 Calle Almolonga\nPuebla de Zaragoza PUE 721...,2022-11-12 20:41:39 UTC,Jorge Alberto Ostorga Flores,SRID=4326;POINT(-98.233483903 19.0568494313),13:50,XC8687A,Marinela,Delivery,Heavy duty truck,...,no,no,no,19.056849,-98.233484,2,1,1.0,0.0,5.0
2,04e64464-3fbd-4ce1-99d8-5364e1567e8c,4510 Vía Volkswagen\nHeroica Puebla de Zaragoz...,2022-11-12 18:02:57 UTC,Juan Carlos Bejarano Moreno,SRID=4326;POINT(-98.2339161 19.0596775),11:47,SM 20745,La fete,Delivery,Pick-up,...,no,no,no,19.059677,-98.233916,1,0,1.0,0.0,5.0
3,d0a6568d-cf8f-48fd-ad3d-007e79f4ae6b,4501A Avenida 2 Poniente\nHeroica Puebla de Za...,2022-11-12 17:55:44 UTC,Luis Gerardo Ramírez Lastra,SRID=4326;POINT(-98.2285674 19.0626948),11:45,SP35169,Barcel,Delivery,Light truck or Van,...,no,no,no,19.062695,-98.228567,1,2,1.0,0.0,5.0
4,eff15823-b1f2-4e82-afb2-2195635d1406,4717 Avenida Reforma\nHeroica Puebla de Zarago...,2022-11-12 17:55:44 UTC,Luis Gerardo Ramírez Lastra,SRID=4326;POINT(-98.231397 19.0627239),11:41,SN89460,NaN,Delivery,Light truck or Van,...,no,no,no,19.062724,-98.231397,2,2,1.0,0.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177,f964004e-67a0-4b75-b2b0-ce04b9f0b344,NaN,2022-11-03 17:54:56 UTC,José Oropeza,SRID=4326;POINT(-98.194933077 19.043612116),10:36,HL-3785-F,NaN,Delivery,Light truck or Van,...,no,no,no,19.043612,-98.194933,1,0,1.0,0.0,5.0
178,5656a189-19f5-45a7-b53b-1a3db0de6571,NaN,2022-11-03 17:54:56 UTC,José Oropeza,SRID=4326;POINT(-98.1948560508 19.0436070826),10:33,SP-29-798,NaN,Delivery,Light truck or Van,...,no,no,no,19.043607,-98.194856,1,0,1.0,0.0,5.0
179,bcbd462b-4c63-490b-bfec-0ef6657ead73,406-B Avenida 2 Oriente\nPuebla PUE 72000\nMX,2022-11-03 17:54:44 UTC,Emilio Garza,SRID=4326;POINT(-98.1945033093 19.043335537),11:19,05-AP-6G,Infra,Delivery,Light truck or Van,...,no,no,no,19.043336,-98.194503,1,1,1.0,0.0,5.0
180,cd9ba76d-d899-4d87-9512-486aedb1b149,402E Avenida 2 Oriente\nPuebla PUE 72000\nMX,2022-11-03 17:14:09 UTC,Emilio Garza,SRID=4326;POINT(-98.1948728731 19.0435760418),11:03,LE-88-707,Alpura,Delivery,Pick-up,...,no,no,no,19.043576,-98.194873,2,0,1.0,0.0,5.0
181,657541f6-7871-4165-80b2-bef59db83e18,402 Avenida 2 Oriente\nPuebla PUE 72000\nMX,2022-11-03 17:14:09 UTC,Emilio Garza,SRID=4326;POINT(-98.1949010531 19.043589516),11:00,HL-3785-F,Bimbo,Delivery,Pick-up,...,no,no,no,19.043590,-98.194901,2,1,1.0,0.0,5.0

In [78]:
#corroboramos valores nulos
valores_nulos=Datos_limpios.isnull().sum()
valores_nulos

_record_id                                        0
_title                                            6
_server_updated_at                                0
_updated_by                                       0
_geometry                                         0
arrival_of_the_freight_vehicle                    0
plates                                            1
company_if_visible                               73
visit_purpose                                     0
type_of_vehicle                                   0
refrigerated_truck                                0
type_of_cargo                                     0
picture_of_the_parked_freight_vehicle             0
departure_of_the_freight_vehicle                  0
where_was_the_vehicle_parked                      0
while_parked_was_the_engine_running               0
used_traffic_cone                                 0
vehicles_unloading_door                           0
garage_blocking                                   0
accident                                          0
noise                                             0
traffic_congestion                                0
_latitude                                         0
_longitude                                        0
number_of_operators                               0
number_of_available_trolleys                      0
serving_customer                                  0
describe_the_accident                             0
maximum_number_of_vehicles_in_the_traffic_jam     0
dtype: int64

In [79]:
#Finalmente para no tener valores nulos en los object los sustituimos por string
#Reemplazar valor nulo de '_title' con texto 'Vacío'
Datos_limpios["_title"]=Datos_limpios["_title"].fillna("Vacío")
Datos_limpios

,_record_id,_title,_server_updated_at,_updated_by,_geometry,arrival_of_the_freight_vehicle,plates,company_if_visible,visit_purpose,type_of_vehicle,...,accident,noise,traffic_congestion,_latitude,_longitude,number_of_operators,number_of_available_trolleys,serving_customer,describe_the_accident,maximum_number_of_vehicles_in_the_traffic_jam
0,4408a234-9585-46fe-9b16-96c0faaf6db8,73 Calle Almolonga\nPuebla de Zaragoza PUE 721...,2022-11-12 22:15:04 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.2334894708 19.0568933787),14:00,KB-7050-A,Ricolino,Delivery,Light truck or Van,...,no,no,no,19.056893,-98.233489,1,1,1.0,0.0,5.0
1,673cd0e3-7290-4c4d-a57f-096d16b78141,72 Calle Almolonga\nPuebla de Zaragoza PUE 721...,2022-11-12 20:41:39 UTC,Jorge Alberto Ostorga Flores,SRID=4326;POINT(-98.233483903 19.0568494313),13:50,XC8687A,Marinela,Delivery,Heavy duty truck,...,no,no,no,19.056849,-98.233484,2,1,1.0,0.0,5.0
2,04e64464-3fbd-4ce1-99d8-5364e1567e8c,4510 Vía Volkswagen\nHeroica Puebla de Zaragoz...,2022-11-12 18:02:57 UTC,Juan Carlos Bejarano Moreno,SRID=4326;POINT(-98.2339161 19.0596775),11:47,SM 20745,La fete,Delivery,Pick-up,...,no,no,no,19.059677,-98.233916,1,0,1.0,0.0,5.0
3,d0a6568d-cf8f-48fd-ad3d-007e79f4ae6b,4501A Avenida 2 Poniente\nHeroica Puebla de Za...,2022-11-12 17:55:44 UTC,Luis Gerardo Ramírez Lastra,SRID=4326;POINT(-98.2285674 19.0626948),11:45,SP35169,Barcel,Delivery,Light truck or Van,...,no,no,no,19.062695,-98.228567,1,2,1.0,0.0,5.0
4,eff15823-b1f2-4e82-afb2-2195635d1406,4717 Avenida Reforma\nHeroica Puebla de Zarago...,2022-11-12 17:55:44 UTC,Luis Gerardo Ramírez Lastra,SRID=4326;POINT(-98.231397 19.0627239),11:41,SN89460,NaN,Delivery,Light truck or Van,...,no,no,no,19.062724,-98.231397,2,2,1.0,0.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177,f964004e-67a0-4b75-b2b0-ce04b9f0b344,Vacío,2022-11-03 17:54:56 UTC,José Oropeza,SRID=4326;POINT(-98.194933077 19.043612116),10:36,HL-3785-F,NaN,Delivery,Light truck or Van,...,no,no,no,19.043612,-98.194933,1,0,1.0,0.0,5.0
178,5656a189-19f5-45a7-b53b-1a3db0de6571,Vacío,2022-11-03 17:54:56 UTC,José Oropeza,SRID=4326;POINT(-98.1948560508 19.0436070826),10:33,SP-29-798,NaN,Delivery,Light truck or Van,...,no,no,no,19.043607,-98.194856,1,0,1.0,0.0,5.0
179,bcbd462b-4c63-490b-bfec-0ef6657ead73,406-B Avenida 2 Oriente\nPuebla PUE 72000\nMX,2022-11-03 17:54:44 UTC,Emilio Garza,SRID=4326;POINT(-98.1945033093 19.043335537),11:19,05-AP-6G,Infra,Delivery,Light truck or Van,...,no,no,no,19.043336,-98.194503,1,1,1.0,0.0,5.0
180,cd9ba76d-d899-4d87-9512-486aedb1b149,402E Avenida 2 Oriente\nPuebla PUE 72000\nMX,2022-11-03 17:14:09 UTC,Emilio Garza,SRID=4326;POINT(-98.1948728731 19.0435760418),11:03,LE-88-707,Alpura,Delivery,Pick-up,...,no,no,no,19.043576,-98.194873,2,0,1.0,0.0,5.0
181,657541f6-7871-4165-80b2-bef59db83e18,402 Avenida 2 Oriente\nPuebla PUE 72000\nMX,2022-11-03 17:14:09 UTC,Emilio Garza,SRID=4326;POINT(-98.1949010531 19.043589516),11:00,HL-3785-F,Bimbo,Delivery,Pick-up,...,no,no,no,19.043590,-98.194901,2,1,1.0,0.0,5.0

In [80]:
#Reemplazar valor nulo de '_title' con texto 'Vacío'
Datos_limpios["plates"]=Datos_limpios["plates"].fillna("Vacío")
Datos_limpios

,_record_id,_title,_server_updated_at,_updated_by,_geometry,arrival_of_the_freight_vehicle,plates,company_if_visible,visit_purpose,type_of_vehicle,...,accident,noise,traffic_congestion,_latitude,_longitude,number_of_operators,number_of_available_trolleys,serving_customer,describe_the_accident,maximum_number_of_vehicles_in_the_traffic_jam
0,4408a234-9585-46fe-9b16-96c0faaf6db8,73 Calle Almolonga\nPuebla de Zaragoza PUE 721...,2022-11-12 22:15:04 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.2334894708 19.0568933787),14:00,KB-7050-A,Ricolino,Delivery,Light truck or Van,...,no,no,no,19.056893,-98.233489,1,1,1.0,0.0,5.0
1,673cd0e3-7290-4c4d-a57f-096d16b78141,72 Calle Almolonga\nPuebla de Zaragoza PUE 721...,2022-11-12 20:41:39 UTC,Jorge Alberto Ostorga Flores,SRID=4326;POINT(-98.233483903 19.0568494313),13:50,XC8687A,Marinela,Delivery,Heavy duty truck,...,no,no,no,19.056849,-98.233484,2,1,1.0,0.0,5.0
2,04e64464-3fbd-4ce1-99d8-5364e1567e8c,4510 Vía Volkswagen\nHeroica Puebla de Zaragoz...,2022-11-12 18:02:57 UTC,Juan Carlos Bejarano Moreno,SRID=4326;POINT(-98.2339161 19.0596775),11:47,SM 20745,La fete,Delivery,Pick-up,...,no,no,no,19.059677,-98.233916,1,0,1.0,0.0,5.0
3,d0a6568d-cf8f-48fd-ad3d-007e79f4ae6b,4501A Avenida 2 Poniente\nHeroica Puebla de Za...,2022-11-12 17:55:44 UTC,Luis Gerardo Ramírez Lastra,SRID=4326;POINT(-98.2285674 19.0626948),11:45,SP35169,Barcel,Delivery,Light truck or Van,...,no,no,no,19.062695,-98.228567,1,2,1.0,0.0,5.0
4,eff15823-b1f2-4e82-afb2-2195635d1406,4717 Avenida Reforma\nHeroica Puebla de Zarago...,2022-11-12 17:55:44 UTC,Luis Gerardo Ramírez Lastra,SRID=4326;POINT(-98.231397 19.0627239),11:41,SN89460,NaN,Delivery,Light truck or Van,...,no,no,no,19.062724,-98.231397,2,2,1.0,0.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177,f964004e-67a0-4b75-b2b0-ce04b9f0b344,Vacío,2022-11-03 17:54:56 UTC,José Oropeza,SRID=4326;POINT(-98.194933077 19.043612116),10:36,HL-3785-F,NaN,Delivery,Light truck or Van,...,no,no,no,19.043612,-98.194933,1,0,1.0,0.0,5.0
178,5656a189-19f5-45a7-b53b-1a3db0de6571,Vacío,2022-11-03 17:54:56 UTC,José Oropeza,SRID=4326;POINT(-98.1948560508 19.0436070826),10:33,SP-29-798,NaN,Delivery,Light truck or Van,...,no,no,no,19.043607,-98.194856,1,0,1.0,0.0,5.0
179,bcbd462b-4c63-490b-bfec-0ef6657ead73,406-B Avenida 2 Oriente\nPuebla PUE 72000\nMX,2022-11-03 17:54:44 UTC,Emilio Garza,SRID=4326;POINT(-98.1945033093 19.043335537),11:19,05-AP-6G,Infra,Delivery,Light truck or Van,...,no,no,no,19.043336,-98.194503,1,1,1.0,0.0,5.0
180,cd9ba76d-d899-4d87-9512-486aedb1b149,402E Avenida 2 Oriente\nPuebla PUE 72000\nMX,2022-11-03 17:14:09 UTC,Emilio Garza,SRID=4326;POINT(-98.1948728731 19.0435760418),11:03,LE-88-707,Alpura,Delivery,Pick-up,...,no,no,no,19.043576,-98.194873,2,0,1.0,0.0,5.0
181,657541f6-7871-4165-80b2-bef59db83e18,402 Avenida 2 Oriente\nPuebla PUE 72000\nMX,2022-11-03 17:14:09 UTC,Emilio Garza,SRID=4326;POINT(-98.1949010531 19.043589516),11:00,HL-3785-F,Bimbo,Delivery,Pick-up,...,no,no,no,19.043590,-98.194901,2,1,1.0,0.0,5.0

In [81]:
#Reemplazar valor nulo de '_title' con texto 'Vacío'
Datos_limpios["company_if_visible"]=Datos_limpios["company_if_visible"].fillna("Sin empresa")
Datos_limpios

,_record_id,_title,_server_updated_at,_updated_by,_geometry,arrival_of_the_freight_vehicle,plates,company_if_visible,visit_purpose,type_of_vehicle,...,accident,noise,traffic_congestion,_latitude,_longitude,number_of_operators,number_of_available_trolleys,serving_customer,describe_the_accident,maximum_number_of_vehicles_in_the_traffic_jam
0,4408a234-9585-46fe-9b16-96c0faaf6db8,73 Calle Almolonga\nPuebla de Zaragoza PUE 721...,2022-11-12 22:15:04 UTC,Salomon Abdala Perez,SRID=4326;POINT(-98.2334894708 19.0568933787),14:00,KB-7050-A,Ricolino,Delivery,Light truck or Van,...,no,no,no,19.056893,-98.233489,1,1,1.0,0.0,5.0
1,673cd0e3-7290-4c4d-a57f-096d16b78141,72 Calle Almolonga\nPuebla de Zaragoza PUE 721...,2022-11-12 20:41:39 UTC,Jorge Alberto Ostorga Flores,SRID=4326;POINT(-98.233483903 19.0568494313),13:50,XC8687A,Marinela,Delivery,Heavy duty truck,...,no,no,no,19.056849,-98.233484,2,1,1.0,0.0,5.0
2,04e64464-3fbd-4ce1-99d8-5364e1567e8c,4510 Vía Volkswagen\nHeroica Puebla de Zaragoz...,2022-11-12 18:02:57 UTC,Juan Carlos Bejarano Moreno,SRID=4326;POINT(-98.2339161 19.0596775),11:47,SM 20745,La fete,Delivery,Pick-up,...,no,no,no,19.059677,-98.233916,1,0,1.0,0.0,5.0
3,d0a6568d-cf8f-48fd-ad3d-007e79f4ae6b,4501A Avenida 2 Poniente\nHeroica Puebla de Za...,2022-11-12 17:55:44 UTC,Luis Gerardo Ramírez Lastra,SRID=4326;POINT(-98.2285674 19.0626948),11:45,SP35169,Barcel,Delivery,Light truck or Van,...,no,no,no,19.062695,-98.228567,1,2,1.0,0.0,5.0
4,eff15823-b1f2-4e82-afb2-2195635d1406,4717 Avenida Reforma\nHeroica Puebla de Zarago...,2022-11-12 17:55:44 UTC,Luis Gerardo Ramírez Lastra,SRID=4326;POINT(-98.231397 19.0627239),11:41,SN89460,Sin empresa,Delivery,Light truck or Van,...,no,no,no,19.062724,-98.231397,2,2,1.0,0.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
177,f964004e-67a0-4b75-b2b0-ce04b9f0b344,Vacío,2022-11-03 17:54:56 UTC,José Oropeza,SRID=4326;POINT(-98.194933077 19.043612116),10:36,HL-3785-F,Sin empresa,Delivery,Light truck or Van,...,no,no,no,19.043612,-98.194933,1,0,1.0,0.0,5.0
178,5656a189-19f5-45a7-b53b-1a3db0de6571,Vacío,2022-11-03 17:54:56 UTC,José Oropeza,SRID=4326;POINT(-98.1948560508 19.0436070826),10:33,SP-29-798,Sin empresa,Delivery,Light truck or Van,...,no,no,no,19.043607,-98.194856,1,0,1.0,0.0,5.0
179,bcbd462b-4c63-490b-bfec-0ef6657ead73,406-B Avenida 2 Oriente\nPuebla PUE 72000\nMX,2022-11-03 17:54:44 UTC,Emilio Garza,SRID=4326;POINT(-98.1945033093 19.043335537),11:19,05-AP-6G,Infra,Delivery,Light truck or Van,...,no,no,no,19.043336,-98.194503,1,1,1.0,0.0,5.0
180,cd9ba76d-d899-4d87-9512-486aedb1b149,402E Avenida 2 Oriente\nPuebla PUE 72000\nMX,2022-11-03 17:14:09 UTC,Emilio Garza,SRID=4326;POINT(-98.1948728731 19.0435760418),11:03,LE-88-707,Alpura,Delivery,Pick-up,...,no,no,no,19.043576,-98.194873,2,0,1.0,0.0,5.0
181,657541f6-7871-4165-80b2-bef59db83e18,402 Avenida 2 Oriente\nPuebla PUE 72000\nMX,2022-11-03 17:14:09 UTC,Emilio Garza,SRID=4326;POINT(-98.1949010531 19.043589516),11:00,HL-3785-F,Bimbo,Delivery,Pick-up,...,no,no,no,19.043590,-98.194901,2,1,1.0,0.0,5.0

In [82]:
#corroboramos valores nulos
valores_nulos=Datos_limpios.isnull().sum()
valores_nulos

_record_id                                       0
_title                                           0
_server_updated_at                               0
_updated_by                                      0
_geometry                                        0
arrival_of_the_freight_vehicle                   0
plates                                           0
company_if_visible                               0
visit_purpose                                    0
type_of_vehicle                                  0
refrigerated_truck                               0
type_of_cargo                                    0
picture_of_the_parked_freight_vehicle            0
departure_of_the_freight_vehicle                 0
where_was_the_vehicle_parked                     0
while_parked_was_the_engine_running              0
used_traffic_cone                                0
vehicles_unloading_door                          0
garage_blocking                                  0
accident                                         0
noise                                            0
traffic_congestion                               0
_latitude                                        0
_longitude                                       0
number_of_operators                              0
number_of_available_trolleys                     0
serving_customer                                 0
describe_the_accident                            0
maximum_number_of_vehicles_in_the_traffic_jam    0
dtype: int64

In [83]:
#convertir dataframe a excel
Datos_limpios.to_excel("lastmile_delivery_operations_mit_lift_lab.xlsx")

In [84]:
#descargar archivo filtrado en xlsx
from google.colab import files

files.download("lastmile_delivery_operations_mit_lift_lab.xlsx")